    .form{
      padding: 20px;
      margin: auto;
      overflow: hidden;
    }

    .form_item{
      display: block;
      margin: auto;
    }

    .form_item label{
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .form_item input, .form_item select, .form_item textarea{
      padding: 8px;
      width: 95%;
    }

    #submit_form{
      float: right;
      margin-top: 30px;
    }

    #preview_foto{
      margin: auto;
      padding: 8px;
      border: 1px solid #ccc;
    }

    #preview_foto foto{
      width: 100%;
      height: auto;
    }