.notification {
  position: relative;
  border-radius: 1px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -6px;
  right: -6px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
