<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #adbdcb;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* dipinggir */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}

table { /* css punya tabel*/
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

    #wrap1{
      padding: 10px 0;
      width: 100%;
      overflow: hidden;
    }

    #add_data{
      float: right;
    }

    #add_data a{
      padding: 7px;
    }

    .cari_wraper{
      float: left;
    }

    .cari_wraper input{
      padding: 7px;
      border: 1px solid #ccc;
    }

    .cari_wraper a {
      padding: 7px;
      margin-top: 5px;
      background-color: #ccc;
      text-align: center;
      text-decoration: none;
      color: black;
    }

    @media only screen and (max-width: 768px){
      #add_data{
        float: left;
        width: 100%;
        margin-top: 20px;
      }

      #wrap1{
        margin-bottom: 5px;
      }
    }
</style>